*{
padding: 0%;
margin:0%;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
text-decoration: none;
}
.cont{
   
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(229,9,20,1) 0%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: absolute;
    
    background: linear-gradient(
    to right,
white 0%,
white 50%,
    black 50%,
    black 100%);

    box-shadow:  black 0px 15px 10px;
    width: 120vh;
    height: 430px;
    border-radius: 10px;
    }
    .left,.right{
        width: 50%;
    }
    .left{
        
        margin: 10px;
        padding: 10px;
        word-spacing: 4px;
        }
        .left p,h1{
            margin: 10px;
        }
        
        
.container details{
    display: block;
    
}
.left p{
    display:inline-block;
    }
    .details input{
        padding: 10px;
        margin: 10px;
        border-radius:  50px;
        border: 2px solid black;
    }
    .terms{
        margin: 10px;
        }
        .button button{
            background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(229,9,20,1) 0%);
            width: 57%;
            border-radius: 50px;
            padding: 10px 10px;
            margin: 10px 10px;
            color: white;
            cursor: pointer;
            border: transparent;
            transition: 0.2s ease-in-out;
            font-size: 16px;
            
        }
        .button button:hover{
            transform: scale(1.1); 
            background: black;
        }
        .right{
            position: absolute;
            top: 20px;
            left: 250px;
            
        }
        .right img{
            height: 70vh;
animation: zoom 3s ease-in-out infinite;
animation-timing-function: infinite;
        }
        @keyframes zoom{
            0%{
                transform: translateY(0) scale(1.0);
            }
            50%{
                transform: translateY(-.75rem) scale(1.1);
            }
            100%{
                transform: translateY(0) scale(1.0);
            }
          }